
<h2>Overview</h2>

<p>The following table describes the overall SLA state of all monitored IT services.</p> 

{% set serviceids = [] %}
{% for service in zabbix_service_get({ parentids:["30"] }) %} {# iterate over all IT services #}
	{% set serviceids = serviceids|merge([service.serviceid]) %} {# collect service ids to array #}
{% endfor %}
{% include 'report1/servicetable.html.twig' with {serviceids : serviceids} %}

